* { box-sizing:border-box; }

#entrada{
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 20px;
	padding: 12px 20px 12px 40px;
	border: 1px solid black;
}

#tabla{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 20px;
}

#tabla th, #tabla td{
	text-align: left;
	padding: 12px;
}

#tabla tr{
	border-bottom: 1px solid #ddd;
}

#tabla tr.encabezado, #tabla tr:hover{
	background-color: lightgoldenrodyellow;
}